<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
                <strong>Site Haritası</strong>
                <hr />
                <p>
                    <a href="/Home/About"><span class="glyphicon glyphicon-info-sign"></span>Hakkımızda</a>
                    <a href="/Home/EnBegenilenler"><span class="glyphicon glyphicon-star"></span>En Beğenilenler</a>
                    <a href="/Home/Index"><span class="glyphicon glyphicon-th-list"></span>Son Yazılanlar</a>
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <h5>MyNotes</h5>
                <hr />
                <p>Tüm hakları saklıdır &copy;@DateTime.Now.Year</p>
            </div>
            <div class="col-lg-4 text-center">
                <h5>E-bülten üyeliği</h5>
                <hr />
                <div class="col-md-10 col-lg-offset-1">
                    <div class="input-group">
                        <input type="text" placeholder="e-posta adresinizi giriniz" class="form-control" />
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-send">Gönder</span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
